/*-- scss:defaults --*/
$headings-font-weight:  bold !default;

/*-- scss:rules
header.quarto-title-block{
  position: relative;
  color: white;
  text-shadow: 0 -1px rgba(0,0,0,0.6);
}

div.quarto-title-meta-heading{
  position: relative;
  color: #354649;
  text-shadow: 0 -1px rgba(255,255,255,0.6);
}

div.quarto-title-meta-contents{
  position: relative;
  color: #354649;
  text-shadow: 0 -1px rgba(255,255,255,0.6);
}

#toc-title {
  position: relative;
  color: white;
  text-shadow: 0 -1px rgba(0,0,0,0.6);
}
--*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

figcaption {
  text-align: center;
}

table.caption-top.table {
  margin-bottom: 24px;
}

/*--
h2.anchored{
    padding-top: 12px;
    padding-left: 12px;
    border-top-left-radius: 12px;
    background-color: rgba(31, 125, 230, .2);
}

h3.anchored {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top-left-radius: 12px;
    background-color: rgba(31, 125, 230, .2);
}

h4.anchored {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-top-left-radius: 12px;
    background-color: rgba(31, 125, 230, .2);
}
--*/
td {
  font-size: 14px;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

h4 {
    font-size: 18px;
    line-height: 40px;
}

  h1.title {
    text-align: center;
    position: relative;
    color: #006A71;
    margin: 0 -30px 30px -30px;
    padding: 10px 0;
    text-shadow: 0 1px rgba(0,0,0,.8);
    background-color: #F2EFE7;
    background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
  }

  h1::before,
  h1::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
  }

  h1::before {
    border-width: 0 10px 10px 0;
    border-right-color: #222;
    left: 0;
  }

  h1::after {
    border-width: 0 0 10px 10px;
    border-left-color: #222;
    right: 0;
  }

h2.anchored {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	position: relative;
	background: rgba(53,86,129, 0.8);
	background: #9ACBD0;
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 10px 0 0 0;
	font-family: 'Noto Sans KR', sans-serif;
}

h3.anchored {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	position: relative;
	background: rgba(53,86,129, 0.8);
	background: #48A6A7;
	border: 1px solid #fff;
	padding: 5px 15px;
	color: #ffffff;
	border-radius: 10px 0 0 0;
	font-family: 'Noto Sans KR', sans-serif;
}


h4.anchored {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	position: relative;
	background: rgba(53,86,129, 0.8);
	background: #006A71;
	border: 1px solid #fff;
	padding: 5px 15px;
	color: #ffffff;
	border-radius: 10px 0 0 0;
	font-family: 'Noto Sans KR', sans-serif;
}
